@import "tailwindcss";

@layer base {
  h2 {
    font-size: theme("fontSize.3xl");
    font-weight: theme("fontWeight.bold");
    color: theme("colors.gray.900");
    margin-bottom: theme("spacing.7");
    position: relative;
  }

  h2::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: theme("spacing.12");
    height: theme("spacing.1");
    background-color: theme("colors.blue.900");
  }
}

@layer components {
  .mb-container {
    margin-bottom: theme("spacing.7");
  }
  .bottom-border {
    border-bottom-width: theme("borderWidth.4");
    border-color: rgb(theme("colors.black") / 0.8);
    background-color: white;
    border-radius: theme("borderRadius.lg");
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeInBlur {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.staggered-fade-in {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(20px);
  animation: fadeInBlur 1s ease-out forwards;
}

.staggered-fade-in:nth-child(1) {
  animation-delay: 0.2s;
}

.staggered-fade-in:nth-child(2) {
  animation-delay: 0.4s;
}

.staggered-fade-in:nth-child(3) {
  animation-delay: 0.6s;
}

.staggered-fade-in:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.group:hover .group-hover\:animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 3;
  box-orient: vertical;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.animate-marquee > * {
  display: inline-block;
}

.grid {
  transition: grid-template-rows 0.3s ease-out;
}

.project-card {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-card-enter {
  opacity: 0;
  transform: translateY(20px);
}

.project-card-enter-active {
  opacity: 1;
  transform: translateY(0);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bababa;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
